.App {
  text-align: center;
  display: flex;
  min-height:100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg,#a8bdd5, #6569d4, #98a8df);
}
.login-form{
  padding: 4rem;
  display:flex;
  flex-direction:column;
}
.quest-form{
  padding: 5rem;
  display:flex;
  flex-direction:column;
}
.register-form{
  padding: 2rem;
  display:flex;
  flex-direction:column;
}
.quest-container{
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: rgba(187, 21, 21, 0.01); 
}
.auth-form-container{
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: rgba(187, 21, 21, 0.01);
}
input::placeholder {
  text-align: center; 
}
label {
  text-align: left;
  padding: 0.25rem 0;
  color: rgb(13, 1, 32);
  font-family: 'Roboto'; 
}
input {
  margin: 0.5rem 0;
  padding: 1rem 0;
  border-color: none;
  border-radius: 9px;
}
/*the button for input (white box) */
button{
  border:black;
  background-color: rgb(255, 255, 255);
  width: 300px;
  padding: 6px;
  border-radius: 10px;
  cursor:pointer;
}
.link-btn{
  padding:20px;
  background: none;
  color: black;
  text-decoration: underline;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  background-color:linear-gradient(79deg,#a8bdd5, #6569d4, #98a8df); 
  padding: 20px;
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 
}
.navbar-menu li {
  margin-bottom: 20px;
}
/*the words displayed*/
.navbar-menu a {
  text-decoration: underline;
  color: #333;
}
/*when we click on the link in navbar*/
.navbar-menu a:hover {
  color: rgb(24, 23, 47);
}
.quest-confirmation-container {
    display: flex;
    justify-content: flex-start; /* Aligns children at the start, reducing space between them */
    align-items: stretch;
    padding: 20px;
}
.quest-confirmation-wrapper {
  text-align: center;
}
.quest-details {
  padding-top: 350px;
  flex-grow: 1; 
  margin-right: 20px;
  align-items: center;
  text-decoration: underline;
}

.map-container {
  padding: 20px;
    border-radius: 10%;
    overflow: hidden;
    width: 700px;
    height: 800px;
    margin-left: 20px;
 
}

/*==========================
Sidebar navigation
========================*/
.navbar {
  position: relative;
}
.NavBarToggle {
  cursor: pointer;
  background: transparent;;
  border: none;
  font-size: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
}
.menu-nav {
  list-style: none;
  position: absolute;
  background: #fff;
  left: 0;
  width: 0;
  overflow: hidden;
  max-width: 150px;
  z-index: 9;
  font-size: 18px;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
  transform: translateX(-100px);
  transition: transform ease-in-out 0.2s;
  /* transition: width ease 0.2s; */
  top: 30px;
}
.menu-text {
  position: relative;
  left: -25px;
}
.menu-nav.show-menu {
  width: 100%;
  transform: translateX(0px);
}
.menu-nav li a, .menu-nav li span {
  display: block;
  padding: 1rem;
}
.log-in {
  color: #777;
  border-top: 1px solid #efecec;
  margin-top: 15px;
  font-size: 15px;
}
/* logout */
.logout-button {
  border:black;
  background-color:transparent;
  width: 300px;
  padding: 6px;
  border-radius: 10px;
  font-size: 20px;
  cursor:pointer;
}
.logout-container {
  position: absolute;
  right: 2px;
  top: 10px;
  display: flex;
  gap: 2rem;
  color: #005bb3; 
  background-color: transparent; 
  border: none;
}